body {
  background-image: url("img/giant_meteor.jpg");
  background-repeat: no-repeat;
}
h1 {
  font-family: "Nosifer", Arial, sans-serif;
  font-size: 48px;
}
#map {
  width: 730px;
  height: 385px;
  border: white 10px;
  margin-left: 70px;
}
.party-icon {
  width: 100px;
  height: 100px;
}
#fillbar {
  height: 50px;
  width: 500px;
  color: black;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
  font-size: 14px;
}
#dem-votes {
  font-size: 70px;
  color: #3625FF;
  margin-left: 10px;
}
#rep-votes {
  color: #E80200;
  font-size: 70px;
}
